<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Utbetaling annullert i ny løsning {{iso_to_date fom}} - {{iso_to_date tom}}</title>
    <style>
        @page {
            size: A4 portrait;
            @bottom-left {
                content: element(footer);
            }
        }

        * {
            font-family: "Source Sans Pro";
        }

        img {
            image-rendering: pixelated; /* Required for PDF/A-compliance */
        }

        h1 {
            margin: 0;
            font-weight: bold;
            font-style: normal;
            font-size: 16pt;
        }

        h2 {
            margin: 0 0 0.2cm;
            font-size: 14pt;
            font-weight: bold;
        }

        h3 {
            margin: 0;
            font-size: 14pt;
            font-weight: bold;
        }

        p {
            font-size: 14pt;
            margin: 0;
        }

        td {
            padding: 0;
        }

        td p {
            margin: 0.1cm 0;
        }

        .header {
            display: block;
            padding: 5mm;
            background: #E6F0FA;
        }

        .header__tittel {
            display: inline-block;
            position: absolute;
            top: 1.2cm;
            left: 3cm;
        }

        .header__navlogo {
            display: inline-block;
            width: 2cm;
        }

        #footer {
            position: running(footer);
            font-size: 12pt;
            margin-top: -13.3mm;
            padding-left: 0.6cm;
            border-bottom: 2px solid black;
            height: 0.6cm;
        }

        #pagenumber:before {
            content: counter(page);
        }

        #pagecount:before {
            content: counter(pages)
        }

        .sidetall {
            float: right;
        }

        .strek {
            border: none;
            border-top: 1px solid black;
            margin-bottom: 11mm;
            margin-top: 0;
        }

        .personinfo {
            display: inline-block;
            width: 100%;
            margin-top: 0.7cm;
            margin-bottom: 4mm;
        }

        .personinfo__pair {
            margin-bottom: 4mm;
        }

        .personinfo__pair__left {
            float: left;
            width: 7cm;
        }

        .personinfo__pair__right {
            float: right;
            width: 8.5cm;
        }

        .personinfo__verdi {
            margin-bottom: 4mm;
        }

        .behandlingsinfo {
            margin-bottom: 8mm;
        }

        .behandlingsinfo__linje {
            margin-bottom: 7mm;
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
<div id="footer">
    <span class="sidetall">Side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
<div class="header">
    <img class="header__navlogo" src="{{ image "Navlogo.png" }}"/>
    <h1 class="header__tittel">Sykepenger - utbetaling annullert i ny løsning</h1>
</div>
<div class="personinfo">
    <div class="personinfo__pair">
        <div class="personinfo__pair__left">
            <h3>Navn</h3>
            <p>{{ navn }} ({{ insert_at fødselsnummer 6 }})</p>
        </div>
        {{#if personFagsystemId}}
            <div class="personinfo__pair__right">
                <h3>Fagsystem ID</h3>
                <p>{{ personFagsystemId }}</p>
            </div>
        {{/if }}
    </div>
    <div style="clear: both;"></div>


    <div class="personinfo__pair">
        <div class="personinfo__pair__left">
            <h3>Arbeidsgiver</h3>
            <p>{{ organisasjonsnavn }} ({{ organisasjonsnummer }})</p>
        </div>
        {{#if arbeidsgiverFagsystemId }}
            <div class="personinfo__pair__right">
                <h3>Fagsystem ID</h3>
                <p>{{ arbeidsgiverFagsystemId }}</p>
            </div>
        {{/if}}
    </div>
    <div style="clear: both;"></div>


    <div class="personinfo__verdi">
        <h3>Søknadsperiode</h3>
        <p>{{ iso_to_date fom }} - {{ iso_to_date tom }}</p>
    </div>
    <div class="personinfo__verdi">

    </div>
    <div class="personinfo__pair">
        <div class="personinfo__pair__left">
            <h3>Behandlet av</h3>
            <p>{{ saksbehandlerIdent }}</p>
        </div>
        <div class="personinfo__pair__right">
            <h3>Annullert</h3>
            <p>{{ iso_to_nor_datetime dato }}</p>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<hr class="strek"/>
<div class="behandlingsinfo">
    <h2>Annullerte periode:</h2>
    <div class="behandlingsinfo__linje">
        <h3>{{ iso_to_date fom }} - {{ iso_to_date tom }}</h3>
    </div>
</div>
</body>
</html>
