<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8"/>
    <meta name="subject" content="annullering av sykepenger i ny løsning"/>
    <meta name="description" content="Oppsummering av annullering av sykepenger i Speil"/>
    <title>Utbetaling annullert i ny løsning {{iso_to_date fom}} - {{iso_to_date tom}}</title>
    <style>
        @page {
            size: A4 portrait;
            @bottom-left {
                content: element(footer);
            }
        }

        * {
            font-family: "Source Sans Pro";
        }

        h1 {
            margin: 0;
            font-weight: bold;
            font-style: normal;
            font-size: 16pt;
        }

        h2 {
            margin: 0 0 0.2cm;
            font-size: 14pt;
            font-weight: bold;
        }

        h3 {
            margin: 0 0 1mm 0;
            font-size: 14pt;
            font-weight: bold;
        }

        p {
            font-size: 14pt;
            margin: 0;
        }

        ul {
            margin: 0;
        }

        li {
            font-size: 14pt;
            margin-top: 1mm;
        }

        td {
            padding: 0;
        }

        td p {
            margin: 0.1cm 0;
        }

        .header {
            display: block;
            padding: 5mm;
            background: #e0f5fb;
        }

        .header__tittel {
            display: inline-block;
            position: absolute;
            top: 1.05cm;
            left: 3cm;
        }

        .header__navlogo {
            display: inline-block;
            width: 2cm;
        }

        #footer {
            position: running(footer);
            font-size: 12pt;
            margin-top: -13.3mm;
            padding-left: 0.6cm;
            border-bottom: 2px solid black;
            height: 0.6cm;
        }

        #pagenumber:before {
            content: counter(page);
        }

        #pagecount:before {
            content: counter(pages)
        }

        .sidetall {
            float: right;
        }

        .strek {
            border: none;
            border-top: 1px solid black;
            margin-top: 0;
        }

        .personinfo {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-top: 0.7cm;
        }

        .personinfo_par {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .personinfo_linje {
            margin: 4mm 4mm 0 0;
        }

        .behandlingsinfo {
            display: grid;
            grid-template-rows: 1fr 1fr;
        }

        .behandlingsinfo_par {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .behandlingsinfo__linje {
            margin: 4mm 4mm 0 0;
        }
    </style>
</head>
<body>
<div id="footer">
    <span class="sidetall">Side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
<div class="header">
    <img class="header__navlogo" alt="Nav-logo" src="{{ image "Navlogo.png" }}"/>
    <h1 class="header__tittel">Sykepenger - utbetaling annullert i ny løsning</h1>
</div>

<div class="personinfo">
    <div class="personinfo_par">
        <div class="personinfo_linje">
            <h3>Navn</h3>
            <p>{{ navn }} ({{ insert_at fødselsnummer 6 }})</p>
        </div>
        <div class="personinfo_linje">
            <h3>Arbeidsgiver</h3>
            {{#if yrkesaktivitetstype}}
                {{#eq yrkesaktivitetstype "ARBEIDSTAKER"}}
                    <p>{{ organisasjonsnavn }} ({{ organisasjonsnummer }})</p>
                {{/eq}}

                {{#eq yrkesaktivitetstype "SELVSTENDIG"}}
                    <p>Selvstendig næringsdrivende</p>
                {{/eq}}

            {{else}}
                <p>{{ organisasjonsnavn }} ({{ yrkesaktivitet }})</p>
            {{/if}}
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="behandlingsinfo_par">
        <div class="behandlingsinfo__linje">
            <h3>Behandlet av</h3>
            <p>{{ saksbehandlerIdent }}</p>
        </div>
        <div class="behandlingsinfo__linje">
            <h3>Annullert</h3>
            <p>{{ iso_to_nor_datetime annullert }}</p>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>

<hr class="strek"/>

<div class="behandlingsinfo">
        <div class="behandlingsinfo__linje">
            <h3>Annullert periode</h3>
            <p>{{ iso_to_date fom }} - {{ iso_to_date tom }}</p>
        </div>
    <div class="behandlingsinfo_par">
        <div class="behandlingsinfo__linje">
            <h3>Årsaker</h3>
            <ul>
                {{#each årsaker }}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
        </div>
    <div class="behandlingsinfo__linje">
        <h3>Begrunnelse</h3>
        <p>{{ begrunnelse }}</p>
    </div>
    </div>
</div>
</body>
</html>
