<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8"/>
    <meta name="subject" content="{{type}} sykepenger i ny løsning"/>
    <meta name="description" content="Oppsummering av {{type}} sykepenger i Speil" />
    <title>Sykepenger - {{type}} sykepenger i ny løsning</title>
    <style>
        @page {
            size: A4 portrait;
            @bottom-left {
                content: element(footer);
            }
        }

        * {
            font-family: "Source Sans Pro";
        }

        h1 {
            margin: 0;
            font-weight: bold;
            font-style: normal;
            font-size: 16pt;
        }

        h2 {
            margin: 0 0 0.2cm;
            font-size: 17pt;
            font-weight: bold;
        }

        h3 {
            margin: 0;
            font-size: 14pt;
            font-weight: bold;
        }

        p {
            font-size: 14pt;
            margin: 0;
        }

        td {
            padding: 0;
        }

        td p {
            margin: 0.1cm 0;
        }

        .pre_wrap {
            white-space: pre-wrap;
        }

        .spacing_bottom {
            margin-bottom: 4mm;
        }

        .gjennomstrek p {
            text-decoration: line-through;
        }

        .header {
            display: block;
            padding: 5mm;
            background: #E0F5FB;
        }

        .header__tittel {
            display: inline-block;
            position: absolute;
            top: 1.05cm;
            left: 3cm;
        }

        .header__navlogo {
            display: inline-block;
            width: 2cm;
        }

        #footer {
            position: running(footer);
            font-size: 12pt;
            margin-top: -13.3mm;
            padding-left: 0.6cm;
            border-bottom: 2px solid black;
            height: 0.6cm;
        }

        #pagenumber:before {
            content: counter(page);
        }

        #pagecount:before {
            content: counter(pages)
        }

        .sidetall {
            float: right;
        }

        .strek {
            border: none;
            border-top: 1px solid black;
            margin-bottom: 6mm;
            margin-top: 0;
        }

        .personinfo {
            display: block;
            width: 100%;
            margin-top: 0.7cm;
            margin-bottom: 6mm;
        }

        .personinfo__pair__left {
            float: left;
            width: 7cm;
        }

        .personinfo__pair__right {
            float: right;
            width: 8.5cm;
        }

        .seksjon {
            margin-bottom: 11mm;
            page-break-inside: avoid;
        }

        .tabelloverskrift {
            padding-bottom: 4mm;
        }

        .oppsummeringstabell {
            width: 18cm;
            border-collapse: collapse;
        }
        .oppsummeringstabell td {
            padding-right: 3mm;
        }
        .oppsummeringstabell td:last-child {
            padding-right: 2mm;
        }
        .oppsummeringstabell__dato {
            width: 7cm;
        }
        .oppsummeringstabell__mottaker {
            max-width: 4cm;
            width: 3cm;
        }
        .oppsummeringstabell__mottaker p {
            overflow: hidden;
            white-space: nowrap;
            width: inherit;
        }
        .oppsummeringstabell__dagsats {
            width: 4cm;
        }
        .oppsummeringstabell__totalbeløp {
            width: 4cm;
        }
        .oppsummeringstabell__gradering {
            width: 2cm;
        }

        .ikke-utbetalte-dager .oppsummeringstabell__dato {
            width: 6cm;
        }

        .høyrejustert {
            text-align: right;
        }

        .oppsummeringstabell.zebra tr:nth-child(even) {
            background-color: #F1F1F1;
        }

        .oppsummeringstabell th {
            font-weight: 300;
        }

        .oppsummeringstabell th:first-child {
            padding-left: 2mm;
        }

        .oppsummeringstabell td:first-child {
            vertical-align: top;
            padding-left: 2mm;
        }

        .årsinntekt-orgnr {
            width: 7cm;
        }

        .inline-tabell {
            font-size: 14pt;
        }
        .inline-tabell table {
            border-spacing: 0;
        }
    </style>
</head>
<body>

<div id="footer">
    <span class="sidetall">Side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
<div class="header">
    <img class="header__navlogo" alt="Nav-logo" src="{{ image "Navlogo.png" }}"/>
    <h1 class="header__tittel">Sykepenger - {{type}} sykepenger</h1>
</div>

<div class="personinfo">
    <div class="spacing_bottom">
        <div class="personinfo__pair__left">
            <h3>Navn</h3>
            <p>{{ navn }} ({{ insert_at fødselsnummer 6 }})</p>
        </div>
        {{#if personOppdrag.fagsystemId }}
            <div class="personinfo__pair__right">
                <h3>Fagsystem ID</h3>
                <p>{{ personOppdrag.fagsystemId }}</p>
            </div>
        {{/if }}
    </div>
    <div style="clear: both;"></div>
    <div class="spacing_bottom">
        <div class="personinfo__pair__left">
            <h3>Inntektskilde</h3>
            <p>Selvstendig næringsdrivende</p>
        </div>
        {{#if arbeidsgiverOppdrag.fagsystemId }}
            <div class="personinfo__pair__right">
                <h3>Fagsystem ID</h3>
                <p>{{ arbeidsgiverOppdrag.fagsystemId }}</p>
            </div>
        {{/if}}
    </div>
    <div style="clear: both;"></div>
    <div class="spacing_bottom">
        <h3>Søknadsperiode</h3>
        <p>{{ iso_to_date fom }} - {{ iso_to_date tom }}</p>
    </div>
    <div class="spacing_bottom">
        <div class="personinfo__pair__left">
            <h3>Totalbeløp for denne perioden</h3>
            <p>{{ currency_no sumNettoBeløp }} kr</p>
        </div>
        <div class="personinfo__pair__right">
            <h3>Sendt til utbetaling</h3>
            <p>{{ iso_to_date behandlingsdato }}</p>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="spacing_bottom">
        <h3>Skjæringstidspunkt</h3>
        <p>{{ iso_to_date skjæringstidspunkt }}</p>
    </div>
    <div style="clear: both;"></div>
    <div class="spacing_bottom">
        <div class="personinfo__pair__left">
            {{#if automatiskBehandling}}
                <h3>Automatisk behandlet</h3>
            {{else}}
                <h3>Behandlet av</h3>
                <p>{{ godkjentAv }}</p>
            {{/if}}
        </div>
            <div class="personinfo__pair__right">
                {{#if totrinnsvurdertAv}}
                <h3>Kontrollert av</h3>
                <p>{{ totrinnsvurdertAv }}</p>
                {{/if}}
            </div>
    </div>
    <div style="clear: both;"></div>
    {{#if vedtakFattetTidspunkt}}
        <div class="spacing_bottom">
            <h3>Vedtak fattet</h3>
            <p>{{iso_to_nor_datetime vedtakFattetTidspunkt}}</p>
        </div>
        <div style="clear: both;"></div>
    {{/if}}
</div>

{{#with begrunnelser}}
{{#if delvisInnvilgelse}}
<hr class="strek"/>
<div class="seksjon">
    <h2>Perioden er delvis innvilget</h2>
    <div class="spacing_bottom">
        <h3>Begrunnelse</h3>
        <p>{{ breaklines delvisInnvilgelse }}</p>
    </div>
</div>
{{/if}}
{{#if avslag}}
<hr class="strek"/>
<div class="seksjon">
    <h2>Perioden er avslått</h2>
    <div class="spacing_bottom">
        <h3>Begrunnelse</h3>
        <p>{{ breaklines avslag }}</p>
    </div>
</div>
{{/if}}
{{/with}}

<hr class="strek"/>
{{#if linjer}}
    <div class="seksjon">
        <h3 class="tabelloverskrift">Utbetalte perioder</h3>
        <table class="oppsummeringstabell zebra">
            <tbody>
            <tr>
                <th>Dato</th>
                <th>Utbetalt til</th>
                <th>Beløp per dag</th>
                <th>Totalbeløp</th>
                <th>Sykmeldt</th>
            </tr>
            {{#each linjer }}
                <tr {{#if erOpphørt}} class="gjennomstrek" {{/if}}>
                    <td class="oppsummeringstabell__dato">
                        <p>{{ iso_to_date fom }} - {{ iso_to_date tom }}</p>
                    </td>
                    <td class="oppsummeringstabell__mottaker">
                        <p>{{ mottaker }}</p>
                    </td>
                    <td class="oppsummeringstabell__dagsats høyrejustert">
                        <p>{{ currency_no dagsats }} kr</p>
                    </td>
                    <td class="oppsummeringstabell__totalbeløp høyrejustert">
                        {{#unless erOpphørt}} <p> {{ currency_no totalbeløp }} kr</p> {{/unless}}
                    </td>
                    <td class="oppsummeringstabell__gradering høyrejustert">
                        <p>{{ grad }} %</p>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <hr class="strek"/>
{{/if}}

{{#if ikkeUtbetalteDager}}
    <div class="seksjon">
        <h3 class="tabelloverskrift">Ikke utbetalte perioder</h3>
        <table class="oppsummeringstabell zebra ikke-utbetalte-dager">
            <tbody>
            <tr>
                <th>Dato</th>
                <th>Merknad</th>
            </tr>
            {{#each ikkeUtbetalteDager }}
                <tr>
                    <td class="oppsummeringstabell__dato">
                        <p>{{ iso_to_date fom }} - {{ iso_to_date tom }}</p>
                    </td>
                    <td>
                        {{#each begrunnelser}}
                            <p>{{ this }}</p>
                        {{/each}}
                    </td>
                    <td>

                    </td>
                </tr>

            {{/each}}
            </tbody>
        </table>
    </div>
    <hr class="strek"/>
{{/if}}

<div class="seksjon">
    <h2>Oppsummering</h2>
    <div class="spacing_bottom">
        <h3>Dager igjen</h3>
        <p>{{dagerIgjen}}</p>
    </div>
    {{#if maksdato}}
        <div class="spacing_bottom">
            <h3>Maksdato</h3>
            <p>{{ iso_to_date maksdato }}</p></div>
    {{/if}}
    <div class="spacing_bottom">
        <h3>Totalt utbetalt</h3>
        <p>{{currency_no sumTotalBeløp}} kr</p>
    </div>
    <div class="spacing_bottom">
        <h3>Beregningsgrunnlag</h3>
        <p>{{currency_no beregningsgrunnlag}} kr</p>
    </div>
    <div class="spacing_bottom inline-tabell">
        <h3>Pensjonsgivende inntekter</h3>
        <table class="spacing_bottom">
            <tbody>
            {{#each pensjonsgivendeInntekter }}
                <tr>
                    <td class="årsinntekt-orgnr">{{ år }}</td>
                    <td>{{currency_no inntekt}} kr</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="spacing_bottom">
        <h3>Sykepengegrunnlag</h3>
        <p>{{currency_no sykepengegrunnlag}} kr</p>
    </div>
</div>
</body>
</html>
